:root {
  --color-primary: #ffffff;
  --color-secondary: rgb(234, 155, 51);
}

.App {
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-primary);
}

html {
  scroll-behavior: smooth;
}